<a href="https://colab.research.google.com/github/alifandi-as/Interactive-Python-Notebook-1/blob/main/Alifandi_Jobsheet_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 01 - Membuat & Mengakses List ID**

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0]) # Andi
print(mahasiswa[1]) # Budi
print(mahasiswa[-1]) # Cici

Andi
Budi
Cici

# **Praktikum 02 - Update dan Operasi Dasar List**

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# **Praktikum 03 - Slicing List**

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3]) # [85, 90, 78]
print(nilai[2:]) # [78, 92, 88]
print(nilai[:3]) # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# **Praktikum 04 - List 2D (Matriks)**

In [ ]:
matriks = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

print(matriks[0][0]) # 1
print(matriks[1][2]) # 6
print(matriks[2]) # [7, 8, 9]

1
6
[7, 8, 9]

# **Praktikum 05 - Operasi pada List 2D**

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

# **Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa**

In [ ]:
nilai = [
  [80, 90, 85],
  [70, 75, 80],
  [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# **Penugasan 1: Akses Elemen List**

In [ ]:
daftar = ["Natya Sutmoko", "Fernanda", "Gunsan", "Palit", "Jira"]

print(daftar[0])
print(daftar[-1])
print(daftar[1])

Natya Sutmoko
Jira
Fernanda

# **Penugasan 2: Operasi Dasar List**

In [ ]:
daftar = [70, 75, 80]
daftar[1] = 85
daftar.append(90)
daftar.remove(70)

print(daftar)

[85, 80, 90]

# **Penugasan 3: Slicing List**

In [ ]:
angka = [1, 2, 3, 4, 5, 6, 7 , 8, 9, 10]
print(angka[:3])
print(angka[-4:])
print(angka[1:-1:2])

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8]

# **Penugasan 4: List 2D - Matriks**

In [ ]:
matriks = [
  [1, 2, 3],
  [4, 5, 6]
]

print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

# **Penugasan 5: Operasi Matriks 2D**

In [ ]:
matriks = [
  [3, 5],
  [4, 2]
]
matriks2 = [
    [9, 1],
    [-3, -1]
]
matriks3 = [
    [0, 0],
    [0, 0]
]
for i in range(len(matriks)):
    for j in range(len(matriks[0])):
        matriks3[i][j] = matriks[i][j] + matriks2[i][j]

print(matriks3)

[[12, 6], [1, 1]]

# **Penugasan 6: Rata-rata Nilai Mahasiswa**

In [ ]:
nilai = [[75, 80, 85], [60, 70, 65], [90, 95, 92]]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.1f}")

Rata-rata mahasiswa 1: 80.0
Rata-rata mahasiswa 2: 65.0
Rata-rata mahasiswa 3: 92.3

# **Penugasan 7: Studi Kasus - Data Toko**

In [53]:
stok = [["Buku", 20], ["Pulpen", 35], ["Penghapus", 15]]
stok_terbanyak = 0

for i, barang in enumerate(stok, start=1):
  stok_terbanyak = max(stok_terbanyak, barang[1])
  print(f"Barang ke-{i}: {barang[0]} - jumlah stok {barang[1]}")

print(f"Barang stok dengan stok terbanyak: {stok_terbanyak}")

Barang ke-1: Buku - jumlah stok 20
Barang ke-2: Pulpen - jumlah stok 35
Barang ke-3: Penghapus - jumlah stok 15
Barang stok dengan stok terbanyak: 35