<a href="https://colab.research.google.com/github/alifandi-as/Interactive-Python-Notebook-1/blob/main/Alifandi_Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 01. Menghitung Luas Persegi Panjang**

In [ ]:
p = int(input("Masukkan panjang: "))
l = int(input("Masukkan lebar: "))
luas = p * l
print("Luas persegi panjang = ", luas)

Masukkan panjang: 16
Masukkan lebar: 25
Luas persegi panjang =  400

# **Praktikum 02. Menghitung Luas Segitiga**

In [ ]:
import math

a = float(input("Masukkan sisi a: "))
b = float(input("Masukkan sisi b: "))
c = float(input("Masukkan sisi c: "))

s = (a + b + c) / 2
luas = math.sqrt(s * (s - a) * (s - b) * (s - c))
print("Luas segitiga = ", luas)

Masukkan sisi a: 3
Masukkan sisi b: 4
Masukkan sisi c: 5
Luas segitiga =  6.0

# **Praktikum 03. Konversi Suhu Celsius ke Fahrenheit**

In [ ]:
c = float(input("Masukkan suhu (째C): "))
f = (c * 9/5) + 32
print("Hasil konversi = ", f, "째F")

Masukkan suhu (째C): 32
Hasil konversi =  89.6 째F

# **Praktikum 04. Menghitung Umur Berdasarkan Tahun Lahir**

In [ ]:
tahun_lahir = int(input("Masukkan tahun lahir: "))
tahun_sekarang = 2025
umur = tahun_sekarang - tahun_lahir
print("Umur anda = ", umur, "tahun")

Masukkan tahun lahir: 2006
Umur anda =  19 tahun

# **Praktikum 05. Menghitung Luas Lingkaran**

In [ ]:
import math
r = float(input("Masukkan jari-jari lingkaran: "))
luas = math.pi * r * r
print("Luas lingkaran =", luas)

Masukkan jari-jari lingkaran: 14
Luas lingkaran = 615.7521601035994

# **Praktikum 06. Menjumlahkan Tiga Bilangan**

In [ ]:
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))
c = int(input("Masukkan bilangan ketiga: 1"))
jumlah = a + b + c
print("Jumlah = ", jumlah)

Masukkan bilangan pertama: 17
Masukkan bilangan kedua: 15
Masukkan bilangan ketiga: 60
Jumlah =  92

# **Penugasan 1: Menghitung Volume Balok**

In [ ]:
p = int(input("Masukkan panjang: "))
l = int(input("Masukkan lebar: "))
t = int(input("Masukkan tinggi: "))
v = p * l * t
print("Volume batok: ", v)

Masukkan panjang: 10
Masukkan lebar: 9
Masukkan tinggi: 8
Volume batok:  720

# **Penugasan 2: Konversi Watku (detik ke jam:menit:detik)**

In [ ]:
total_dtk = int(input("Masukkan total detik: "))
detik = total_dtk % 60
menit = (total_dtk // 60) % 60
jam = (total_dtk // 3600)
print(f"Konversi waktu: {jam}:{str(menit).rjust(2, "0")}:{str(detik).rjust(2, "0")}")

Masukkan total detik: 3685
Konversi waktu: 1:01:25

# **Penugasan 3: Rata-rata Nilai Tiga Mata Kuliah**

In [ ]:
nilai1 = int(input("Masukkan nilai mata kuliah pertama: "))
nilai2 = int(input("Masukkan nilai mata kuliah pertama: "))
nilai3 = int(input("Masukkan nilai mata kuliah pertama: "))

rata_rata = (nilai1 + nilai2 + nilai3) / 3
if (rata_rata >= 60):
  print("Lulus")
else:
  print("Tidak Lulus")

Masukkan nilai mata kuliah pertama: 85
Masukkan nilai mata kuliah pertama: 40
Masukkan nilai mata kuliah pertama: 75
Lulus

# **Penugasan 4. Menghitung Diskon Belanja**

In [ ]:
belanja = int(input("Masukkan total belanja: "))
if (belanja >= 500.000):
  print(f"Total setelah diskon: {belanja * 0.8}")
elif (belanja >= 250.000):
  print(f"Total setelah diskon: {belanja * 0.9}")
else:
  print(f"Total setelah diskon: {belanja}")

Masukkan total belanja: 650000
Total setelah diskon: 520000.0