<a href="https://colab.research.google.com/github/alifandi-as/Interactive-Python-Notebook-1/blob/main/Alifandi_Praktikum_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 01 - Bubble Sort**

In [ ]:
def bubble_sort(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j] > data[j + 1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan:", angka)
print("Data setelah Bubble Sort:", bubble_sort(angka))

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [11, 12, 22, 25, 34, 64, 90]

# **Praktikum 02 - Selection Sort**

In [ ]:
def selection_sort(data):
  n = len(data)
  for i in range(n):
    min_index = i
    for j in range(i + 1, n):
      if data[j] < data[min_index]:
        min_index = j
    data[i], data[min_index] = data[min_index], data[i]
  return data

angka = [64, 25, 12, 22, 11]
print("Data sebelum diurutkan:", angka)
print("Data setelah Selection Sort:", selection_sort(angka))

Data sebelum diurutkan: [64, 25, 12, 22, 11]
Data setelah Selection Sort: [11, 12, 22, 25, 64]

# **Praktikum 03 - Insertion Sort**

In [ ]:
def insertion_sort(data):
  n = len(data)
  for i in range(1, n):
    key = data[i]
    j = i - 1
    while j >= 0 and data[j] > key:
      data[j + 1] = data[j]
      j -= 1
    data[j + 1] = key
  return data

angka = [12, 11, 13, 5, 6]
print("Data sebelum diurutkan:", angka)
print("Data setelah Insertion Sort:", insertion_sort(angka))

Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [5, 6, 11, 12, 13]

# **Praktikum 04 - Studi Kasus: Mengurutkan Nilai Mahasiswa**

In [ ]:
def bubble_sort_nilai(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j][1] < data[j + 1][1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

mahasiswa = [("Andi", 80), ("Budi", 70), ("Cici", 90), ("Doni", 85)]
print("Data sebelum diurutkan:", mahasiswa)
print("Data setelah diurutkan (desc):", bubble_sort_nilai(mahasiswa))

Data sebelum diurutkan: [('Andi', 80), ('Budi', 70), ('Cici', 90), ('Doni', 85)]
Data setelah diurutkan (desc): [('Cici', 90), ('Doni', 85), ('Andi', 80), ('Budi', 70)]

# **Praktikum 05 - Perbandingan Waktu Eksekusi Sorting**

In [ ]:
import random, time
from bubble_sort import bubble_sort
from selection_sort import selection_sort
from insertion_sort import insertion_sort

data = [random.randint(1, 100) for _ in range(500)]

for func in [bubble_sort, selection_sort, insertion_sort]:
  salinan = data.copy()
  start = time.time()
  func(salinan)
  end = time.time()
  print(f"{func.__name__} membutuhkan waktu {end - start:.5f} detik")

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [11, 12, 22, 25, 34, 64, 90]
Data sebelum diurutkan: [64, 25, 12, 22, 11]
Data setelah Selection Sort: [11, 12, 22, 25, 64]
Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [5, 6, 11, 12, 13]
bubble_sort membutuhkan waktu 0.01038 detik
selection_sort membutuhkan waktu 0.00569 detik
insertion_sort membutuhkan waktu 0.00460 detik

# **Praktikum 06 - Sorting Data Barang (Nama & Harga)**

In [ ]:
def bubble_sort_key(data, key_index=0, reverse=False):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if reverse:
        if data[j][key_index] < data[j + 1][key_index]:
          data[j], data[j + 1] = data[j + 1], data[j]
      else:
        if data[j][key_index] > data[j + 1][key_index]:
          data[j], data[j + 1] = data[j + 1], data[j]
  return data

barang = [("Buku", 15000), ("Pensil", 5000), ("Tas", 75000), ("Pulpen", 10000)]
print("Urut berdasarkan nama (asc):", bubble_sort_key(barang.copy(), 0))
print("Urut berdasarkan harga (desc):", bubble_sort_key(barang.copy(), 1, reverse=True))

Urut berdasarkan nama (asc): [('Buku', 15000), ('Pensil', 5000), ('Pulpen', 10000), ('Tas', 75000)]
Urut berdasarkan harga (desc): [('Tas', 75000), ('Buku', 15000), ('Pulpen', 10000), ('Pensil', 5000)]

# **Penugasan 1: Eksperimen Bubble Sort**

In [ ]:
def bubble_sort(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j] < data[j + 1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan:", angka)
print("Data setelah Eksperimen Bubble Sort:", bubble_sort(angka))

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [90, 64, 34, 25, 22, 12, 11]

# **Penugasan 2: Eksperimen Selection Sort**

In [8]:
def selection_sort_special(data):
  n = len(data)
  for i in range(n):
    max_index = i
    for j in range(i + 1, n):
      if data[j] > data[max_index]:
        max_index = j
    data[i], data[max_index] = data[max_index], data[i]
  max_value = data[0]
  data.pop(0)
  data.append(max_value)
  return data

angka = [64, 25, 12, 22, 11]
print("Data sebelum diurutkan:", angka)
print("Data setelah Eksperimen Selection Sort:", selection_sort_special(angka))

Data sebelum diurutkan: [64, 25, 12, 22, 11]
Data setelah Eksperimen Selection Sort: [25, 22, 12, 11, 64]

# **Penugasan 3: Eksperimen Insertion Sort**

In [ ]:
def insertion_sort(daftar_nama):
  for i in range(1, len(daftar_nama)):
    key = daftar_nama[i]
    j = i - 1

    while j >= 0 and daftar_nama[j].lower() > key.lower():
      daftar_nama[j + 1] = daftar_nama[j]
      j -= 1

    nama2[j + 1] = key

nama2 = []
print("Masukkan nama-nama mahasiswa. Untuk menghentikannya, ketik \"Selesai\".")

while True:
    nama = input("Daftar nama: ")
    if nama.lower() == "selesai":
        break
    nama2.append(nama)

insertion_sort(nama2)

print("\nNama terurut melalui Insertion Sort:")
for n in nama2:
    print(n)

Masukkan nama-nama mahasiswa. Untuk menghentikannya, ketik "Selesai".
Daftar nama: Jalan
Daftar nama: Kereta
Daftar nama: Api
Daftar nama: Super
Daftar nama: Alam
Daftar nama: Hutan
Daftar nama: Xenon
Daftar nama: Mangan
Daftar nama: Tas
Daftar nama: selesai

Nama terurut melalui Insertion Sort:
Alam
Api
Hutan
Jalan
Kereta
Mangan
Super
Tas
Xenon

# **Penugasan 4: Studi Kasus Tambahan**

In [ ]:
def insertion_sort(data):
  n = len(data)
  for i in range(1, n):
    key = data[i]
    j = i - 1
    while j >= 0 and data[j] < key:
      data[j + 1] = data[j]
      j -= 1
    data[j + 1] = key
  return data

angka = [12, 11, 13, 5, 6]
print("Data sebelum diurutkan:", angka)
print("Data setelah Insertion Sort:", insertion_sort(angka))

Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [13, 12, 11, 6, 5]

# **Penugasan 5: Analisis Kompleksitas**

In [ ]:
import random;

def bubble_sort(data):
  operasi = 0
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j] > data[j + 1]:
        data[j], data[j + 1] = data[j + 1], data[j]
      operasi += 1
  return f"{operasi} operasi, {data}"

def selection_sort(data):
  operasi = 0
  n = len(data)
  for i in range(n):
    min_index = i
    for j in range(i + 1, n):
      if data[j] < data[min_index]:
        min_index = j
      operasi += 1
    data[i], data[min_index] = data[min_index], data[i]
  return f"{operasi} operasi, {data}"

def insertion_sort(data):
  operasi = 0
  n = len(data)
  for i in range(1, n):
    key = data[i]
    j = i - 1
    while j >= 0 and data[j] > key:
      data[j + 1] = data[j]
      j -= 1
      operasi += 1
    data[j + 1] = key
  return f"{operasi} operasi, {data}"

angka = random.sample(range(1, 101), 10)

print("Data sebelum diurutkan:", angka)
print("Jumlah operasi setelah Bubble Sort:", bubble_sort(angka.copy()))
print("Data setelah Selection Sort:", selection_sort(angka.copy()))
print("Data setelah Insertion Sort:", insertion_sort(angka.copy()))

print()

angka = random.sample(range(1, 101), 50)

print("Data sebelum diurutkan:", angka)
print("Jumlah operasi setelah Bubble Sort:", bubble_sort(angka.copy()))
print("Data setelah Selection Sort:", selection_sort(angka.copy()))
print("Data setelah Insertion Sort:", insertion_sort(angka.copy()))

print()

angka = random.sample(range(1, 101), 100)

print("Data sebelum diurutkan:", angka)
print("Jumlah operasi setelah Bubble Sort:", bubble_sort(angka.copy()))
print("Data setelah Selection Sort:", selection_sort(angka.copy()))
print("Data setelah Insertion Sort:", insertion_sort(angka.copy()))

Data sebelum diurutkan: [1, 80, 65, 90, 92, 33, 55, 52, 4, 88]
Jumlah operasi setelah Bubble Sort: 45 operasi, [1, 4, 33, 52, 55, 65, 80, 88, 90, 92]
Data setelah Selection Sort: 45 operasi, [1, 4, 33, 52, 55, 65, 80, 88, 90, 92]
Data setelah Insertion Sort: 23 operasi, [1, 4, 33, 52, 55, 65, 80, 88, 90, 92]

Data sebelum diurutkan: [27, 12, 51, 22, 96, 23, 70, 4, 30, 7, 89, 41, 37, 36, 53, 68, 62, 15, 14, 71, 1, 31, 63, 45, 57, 91, 92, 84, 18, 65, 35, 61, 43, 34, 42, 16, 28, 26, 8, 80, 79, 87, 48, 13, 59, 64, 6, 76, 75, 46]
Jumlah operasi setelah Bubble Sort: 1225 operasi, [1, 4, 6, 7, 8, 12, 13, 14, 15, 16, 18, 22, 23, 26, 27, 28, 30, 31, 34, 35, 36, 37, 41, 42, 43, 45, 46, 48, 51, 53, 57, 59, 61, 62, 63, 64, 65, 68, 70, 71, 75, 76, 79, 80, 84, 87, 89, 91, 92, 96]
Data setelah Selection Sort: 1225 operasi, [1, 4, 6, 7, 8, 12, 13, 14, 15, 16, 18, 22, 23, 26, 27, 28, 30, 31, 34, 35, 36, 37, 41, 42, 43, 45, 46, 48, 51, 53, 57, 59, 61, 62, 63, 64, 65, 68, 70, 71, 75, 76, 79, 80, 84, 87, 89, 91, 92, 96]
Data setelah Insertion Sort: 551 operasi, [1, 4, 6, 7, 8, 12, 13, 14, 15, 16, 18, 22, 23, 26, 27, 28, 30, 31, 34, 35, 36, 37, 41, 42, 43, 45, 46, 48, 51, 53, 57, 59, 61, 62, 63, 64, 65, 68, 70, 71, 75, 76, 79, 80, 84, 87, 89, 91, 92, 96]

Data sebelum diurutkan: [34, 94, 37, 43, 20, 83, 51, 24, 47, 25, 45, 63, 30, 55, 10, 21, 79, 60, 39, 59, 48, 74, 82, 9, 61, 78, 89, 26, 93, 52, 32, 50, 1, 75, 11, 5, 72, 29, 23, 12, 98, 57, 87, 4, 44, 54, 38, 90, 66, 58, 97, 17, 64, 84, 42, 15, 3, 95, 80, 70, 2, 33, 96, 8, 68, 69, 35, 71, 62, 92, 81, 7, 49, 91, 100, 76, 73, 56, 85, 14, 41, 65, 27, 99, 16, 88, 19, 36, 22, 13, 46, 86, 53, 77, 67, 31, 28, 18, 6, 40]
Jumlah operasi setelah Bubble Sort: 4950 operasi, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Data setelah Selection Sort: 4950 operasi, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Data setelah Insertion Sort: 2427 operasi, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# **Penugasan 6: Proyek Mini**

In [16]:
daftar = []
while True:
  barang = input("Masukkan nama barang (kosongkan untuk menghitung total): ")
  if barang == "":
    break
  harga = int(input("Masukkan harga barang: "))

  daftar.append((barang, harga))

reverse = True if input("Urutkan dari tinggi ke rendah? (y/n): ") == "y" else False
harga = True if input("Urutkan dari nama atau harga? (n/h): ") == "h" else False

def insertion_sort_key(data, key_index=0, reverse=False):
  n = len(data)
  for i in range(n):
    key = data[i]
    j = i - 1

    if reverse:
      while j >= 0 and data[j][key_index] < data[j + 1][key_index]:
        data[j], data[j + 1] = data[j + 1], data[j]
        j -= 1
    else:
      while j >= 0 and data[j][key_index] > data[j + 1][key_index]:
        data[j], data[j + 1] = data[j + 1], data[j]
        j -= 1

    data[j + 1] = key
  return data

daftar = insertion_sort_key(daftar, 1 if harga else 0, reverse)
print(f"Urut berdasarkan {"harga" if harga else "nama"} ({"atas ke bawah" if reverse else "bawah ke atas"}):\n{daftar}")

Masukkan nama barang (kosongkan untuk menghitung total): Bawang
Masukkan harga barang: 17000
Masukkan nama barang (kosongkan untuk menghitung total): Sari Gandum
Masukkan harga barang: 9000
Masukkan nama barang (kosongkan untuk menghitung total): Sunlight
Masukkan harga barang: 5000
Masukkan nama barang (kosongkan untuk menghitung total): Rice Cooker
Masukkan harga barang: 240000
Masukkan nama barang (kosongkan untuk menghitung total):
Urutkan dari tinggi ke rendah? (y/n): y
Urutkan dari nama atau harga? (n/h): h
Urut berdasarkan harga (atas ke bawah):
[('Rice Cooker', 240000), ('Bawang', 17000), ('Sari Gandum', 9000), ('Sunlight', 5000)]