<a href="https://colab.research.google.com/github/alifandi-as/Interactive-Python-Notebook-1/blob/main/Alifandi_Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 01 - For dengan Range**

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

# **Praktikum 02 - While (Hitung Mundur)**

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

# **Praktikum 03 - Nested Loop (Segitiga Bintang)**

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

# **Praktikum 04.1 - Break**

In [ ]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

# **Praktikum 04.2 - Continue**

In [ ]:
for i in range(1, 6 ):
  if i % 2 == 1:
    continue
  print(i)

2
4

# **Praktikum 05 - For pada Dictionary**

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# **Praktikum 06 - For dengan Enumerate**

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

# **Praktikum 07 - Studi Kasus: Program Kasir Multi-Item**

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n==== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 50000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

==== Struk Belanja =====
Total Belanja : Rp 250000.0

# **Penugasan 1: Menampilkan Deret Angka**

In [ ]:
for i in range(3, 33, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

# **Penugasan 2: Hitung Faktorial**

In [ ]:
n = int(input("Masukkan nilai bilangan: "))
factorial = n
while n > 2:
  factorial = factorial * (n - 1)
  n -= 1

print(f"Nilai faktorial adalah: {factorial}")

Masukkan nilai bilangan: 7
Nilai faktorial adalah: 5040

# **Penugasan 3: Pola Segitiga Terbalik**

In [ ]:
for i in range (5, 0, -1):
  for j in range(i):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

# **Penugasan 4: Cari Bilangan Prima dengan Break**

In [ ]:
num = int(input("Masukkan nilai yang akan dicari primanya: "))
prime = True

for i in range(2, num):
  if num % i == 0:
    prime = False
    break

if (prime):
  print("Ini bilangan prima")
else:
  print("Ini bukan bilangan prima")

Masukkan nilai yang akan dicari primanya: 15
Ini bukan bilangan prima

# **Penugasan 5: Tampilkan Hanya Bilangan Genap dengan Continue**

In [ ]:
for i in range(0, 21):
  if i % 2 == 1:
    continue
  print(i)

0
2
4
6
8
10
12
14
16
18
20

# **Penugasan 6: Iterasi Dictionary Mahasiswa**

In [ ]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}

for k, v in mahasiswa.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# **Penugasan 7: Enumerate Daftar Barang**

In [ ]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

# **Penugasan 8: Studi Kasus - Kasir Diskon**

In [ ]:
total = 0
nama = []
harga = []
daftar_barang = []
while True:
  barang = input("Masukkan nama barang: ")
  if barang.lower() == "selesai":
    break

  harga = int(input("Masukkan harga barang: "))
  jumlah = int(input("Masukkan jumlah barang yang dibeli: "))

  daftar_barang.append({"Nama": barang, "Jumlah": jumlah, "Harga": harga * jumlah})

  subtotal = harga * jumlah
  total += subtotal

  nama.append(barang)
print("====== STRUK BELANJA ======")
for item_barang in daftar_barang:
  for a, b in item_barang.items():
    print(f"{a}: {b}")
  print("")

if (total >= 200000):
  total = total * 0.9
  print(f"Total belanja setelah diskon 10%: Rp {total}")
else:
  print(f"Total belanja: Rp {total}")

Masukkan nama barang: Sunlight
Masukkan harga barang: 8000
Masukkan jumlah barang yang dibeli: 14
Masukkan nama barang: Kecap
Masukkan harga barang: 4500
Masukkan jumlah barang yang dibeli: 20
Masukkan nama barang: Selesai
====== STRUK BELANJA ======
Nama: Sunlight
Jumlah: 14
Harga: 112000

Nama: Kecap
Jumlah: 20
Harga: 90000

Total belanja setelah diskon 10%: Rp 181800.0