<a href="https://colab.research.google.com/github/alifandi-as/Interactive-Python-Notebook-1/blob/main/Alifandi_Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 01 - Tuple: Data Tetap**

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# **Praktikum 02 - Dictionary Dasar**

In [2]:
mahasiswa = {
  "NIM": "20251001",
  "Nama": "Andi",
  "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

# **Praktikum 03 - Operasi pada Dictionary**

In [3]:
mahasiswa = {
"NIM": "20251001",
"Nama": "Andi",
"Prodi": "TRK"
}

mahasiswa["Umur"] = 20 # menambah data
mahasiswa["Prodi"] = "Teknik Komputer" # memperbarui data
del mahasiswa["Umur"] # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# **Praktikum 04 - Set dan Operasi Himpunan**

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# **Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah**

In [5]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

# **Praktikum 06 â€“ Studi Kasus Dictionary: Daftar Nilai Mahasiswa**

In [7]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# **Penugasan 1: Tuple Sederhana**

In [14]:
data_tuple = ("Christie", 20, "Teknologi Rekayasa Komputer" )
print(f"Nama: {data_tuple[0]}")
print(f"Umur: {data_tuple[1]}")
print(f"Prodi: {data_tuple[2]}")

Nama: Christie
Umur: 20
Prodi: Teknologi Rekayasa Komputer

# **Penugasan 2: Tuple Tidak Bisa Diubah**

In [27]:
'''
Tuple merupakan objek immutable, artinya
tidak dapat diubah setelah dibuat.
'''

angka = (1, 2, 3)
angka[0] = -1

TypeError: 'tuple' object does not support item assignment

# **Penugasan 3: Dictionary Dasar**

In [15]:
dictionary = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}
print(dictionary["Judul"])
print(dictionary["Penulis"])
print(dictionary["Tahun"])

Algoritma
Munir
2021

# **Penugasan 4: Operasi Dictionary**

In [18]:
dictionary = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}
dictionary["Umur"] = 40
dictionary["Prodi"] = "Teknik Komputer"
dictionary.pop("Umur")

print(dictionary)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# **Penugasan 5: Set dan Himpunan**

In [19]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Matematika', 'Bahasa Inggris', 'Algoritma', 'Basis Data'}
Intersection: {'Matematika', 'Algoritma'}
Difference: {'Bahasa Inggris'}

# **Penugasan 6: Studi Kasus Dictionary**

In [25]:
nilai = {"Andi": 85, "Budi": 90, "Cici": 78}
rata = sum(nilai.values()) / len(nilai)

for nama, score in nilai.items():
    print(f"{nama} {score}")

print(f"Rata-rata nilai: {rata:.2f}")

Andi 85
Budi 90
Cici 78
Rata-rata nilai: 84.33

# **Penugasan 7: Studi Kasus Set - Klub Mahasiswa**

In [26]:
A = {"Andi", "Budi", "Cici"}
B = {"Cici", "Deni", "Eka"}

print(f"Daftar seluruh anggota: {A | B}")
print(f"Daftar anggota yang ada dalam kedua klub: {A & B}")
print(f"Daftar anggota eksklusif A: {A - B}")

Daftar seluruh anggota: {'Budi', 'Cici', 'Deni', 'Eka', 'Andi'}
Daftar anggota yang ada dalam kedua klub: {'Cici'}
Daftar anggota eksklusif A: {'Andi', 'Budi'}