<a href="https://colab.research.google.com/github/alifandi-as/Interactive-Python-Notebook-1/blob/main/Alifandi_Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 01 - Pengenalan Variabel dan Tipe Data**

In [2]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))
# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>

# **Praktikum 02 - Input dan Output Dasar**

In [4]:
# INput string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Alif
Masukkan umur Anda: 17
Masukkan tinggi badan cm): 173
Halo, Alif umur Anda: 17 tahun, tinggi: 173.0 cm
Halo Alif, umur Anda 17 tahun, tinggi 173.0 cm
Halo Alif, umur Anda 17 tahun, tinggi 173.0 cm

# **Praktikum 03 - Operator Aritmatika**

In [5]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

# **Praktikum 04 - Operator Relasional**

In [6]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

# **Praktikum 05 - Operator Logika dengan Studi Kasus Nyata**

In [15]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 85
Masukkan jumlah kehadiran: 14
Status: LULUS

# **Praktikum 06 - Program Kasir Sederhana**

In [9]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Sunlight
Masukkan harga barang: 8500
Masukkan jumlah barang: 500

===== Struk Belanja =====
Barang : Sunlight
Jumlah : 500
Total : Rp 4250000.0
Diskon : 20.0%
Bayar : Rp 3400000.0

# **Penugasan 1: Identitas Mahasiswa**

In [14]:
nama = input("Masukkan nama Anda: ")
umur = int(input("Masukkan umur Anda: "))
tinggi  = int(input("Masukkan tinggi Anda: "))
aktif = bool(input("Masukkan status aktif Anda: "))

print(f"Nama: {nama} \nUmur: {umur} \nTinggi: {tinggi} \nAktif: {aktif}")

Masukkan nama Anda: Alif
Masukkan umur Anda: 18
Masukkan tinggi Anda: 173
Masukkan status aktif Anda: true
Nama: Alif
Umur: 18
Tinggi: 173
Aktif: True

# **Penugasan 2: Operasi Aritmatika**

In [18]:
num = int(input("Masukkan bilangan bulat pertama: "))
num2 = int(input("Masukkan bilangan bulat kedua: "))

print(f"Hasil penjumlahan: {num + num2}")
print(f"Hasil pengurangan: {num - num2}")
print(f"Hasil perkalian: {num * num2}")
print(f"Hasil pembagian: {num / num2}")
print(f"Hasil sisa bagi: {num % num2}")
print(f"Hasil perpangkatan: {num ** num2}")

Masukkan bilangan bulat pertama: 15
Masukkan bilangan bulat kedua: 4
Hasil penjumlahan: 19
Hasil pengurangan: 11
Hasil perkalian: 60
Hasil pembagian: 3.75
Hasil sisa bagi: 3
Hasil perpangkatan: 50625

# **Penugasan 3: Konversi Nilai**

In [19]:
dec_num = float(input("Masukkan nilai desimal: "))

print(f"Nilai integer: {int(dec_num)}")
print(f"Nilai string: {str(dec_num)}")
print(f"Nilai pembulatan 2 digit: {round(dec_num, 2)}")

Masukkan nilai desimal: 14.257840917
Nilai integer: 14
Nilai string: 14.257840917
Nilai pembulatan 2 digit: 14.26

# **Penugasan 4: Operator Relasional**

In [22]:
num = float(input("Masukkan nilai pertama: "))
num2 = float(input(("Masukkan nilai kedua: ")))

print(f"Hasil bilangan pertama sama dengan bilangan kedua: {num == num2}")
print(f"Hasil bilangan pertama tidak sama dengan bilangan kedua: {num != num2}")
print(f"Hasil bilangan pertama lebih besar dari bilangan kedua: {num > num2}")
print(f"Hasil bilangan pertama lebih kecil dari bilangan kedua: {num < num2}")
print(f"Hasil bilangan pertama lebih besar/sama dengan bilangan kedua: {num >= num2}")
print(f"Hasil bilangan pertama lebih kecil/sama dengan bilangan kedua: {num <= num2}")

Masukkan nilai pertama: 7
Masukkan nilai kedua: 24
Hasil bilangan pertama sama dengan bilangan kedua: False
Hasil bilangan pertama tidak sama dengan bilangan kedua: True
Hasil bilangan pertama lebih besar dari bilangan kedua: False
Hasil bilangan pertama lebih kecil dari bilangan kedua: True
Hasil bilangan pertama lebih besar/sama dengan bilangan kedua: False
Hasil bilangan pertama lebih kecil/sama dengan bilangan kedua: True